#ideal_text{
			text-align:center;
			font-size:20px;
}
	
		
body{
	background-color:#ff6666;
	font-family: 'Century Gothic', Arial, sans-serif;
}
.load{
	margin-top:19vw;
	font-size:9vw;
	
	transition:1s;
}
#description{
	font-size:20px;
	text-align:center;
	padding-left:5vw;
	padding-right:5vw;
	padding-bottom:2vw;
}
.test{
	transition:0.4s;
	font-size:5vw;
	padding-top:100px;
	
	
}
.box{
	margin-left:20vw;
	margin-right:20vw;
	
	background-color:white;	
	padding-bottom:5vw;
}

#subheading{
	margin-top:19vw;
	text-align:center;
}
#blog{
	text-decoration:none;
	border: 2px solid black;
	font-size:35px;
	color:black;
	padding:5px;
	
	
}
