#ideal_text{
			text-align:center;
			font-size:20px;
}
		
#ideal_text:hover{
	color:#404040;
	transition:4s;
}
		
body{
	background-color:#ff6666;
	font-family: 'Century Gothic', Arial, sans-serif;
}
#heading{
	margin-top:19vw;
	font-size:9vw;
	
	transition:1s;
	text-align:center;
}
#description{
	font-size:20px;
	margin-bottom:1000px;
	text-align:center;
	padding-left:5vw;
	padding-right:5vw;
	padding-bottom:10vw;
}
#heading:hover{
	color:#404040;
	transition:0.5s;
	font-size:9.01vw;
}
.test{
	transition:0.4s;
	font-size:5vw;
	padding-top:100px;
	
	
}
.box{
	margin-left:20vw;
	margin-right:20vw;

	background-color:white;	
}

#subheading{
	margin-top:19vw;
	text-align:center;
	
}
